In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\FINE\Electricity_cost_prediction\data\raw\electricity_cost_dataset.csv')

In [3]:
df.head()

,site area,structure type,water consumption,recycling rate,utilisation rate,air qality index,issue reolution time,resident count,electricity cost
0,1360,Mixed-use,2519.0,69,52,188,1,72,1420.0
1,4272,Mixed-use,2324.0,50,76,165,65,261,3298.0
2,3592,Mixed-use,2701.0,20,94,198,39,117,3115.0
3,966,Residential,1000.0,13,60,74,3,35,1575.0
4,4926,Residential,5990.0,23,65,32,57,185,4301.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   site area             10000 non-null  int64
 1   structure type        10000 non-null  object
 2   water consumption     10000 non-null  float64
 3   recycling rate        10000 non-null  int64
 4   utilisation rate      10000 non-null  int64
 5   air qality index      10000 non-null  int64
 6   issue reolution time  10000 non-null  int64
 7   resident count        10000 non-null  int64
 8   electricity cost      10000 non-null  float64
dtypes: float64(2), int64(6), object(1)
memory usage: 703.3+ KB

In [5]:
df['structure type'].unique()

array(['Mixed-use', 'Residential', 'Commercial', 'Industrial'],
      dtype=object)

In [6]:
df.isna().sum()

site area               0
structure type          0
water consumption       0
recycling rate          0
utilisation rate        0
air qality index        0
issue reolution time    0
resident count          0
electricity cost        0
dtype: int64